.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.profileBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.profileImg {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
}
.profileName {
  font-size: 2.5rem;
  font-weight: bold;
}

.list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding-left: 2rem;
}

.socialLinks {
  display: flex;
  gap: 20px;
}

.copyright {
  font-size: 1.5rem;
  color: var(--textLightWhite);
}
